(
    assets: {
        "armor": [],
        "attack": [
            "bite",
            "kick",
            "punch",
        ],
        "domain": [
            "flat"
        ],
        "effect": [],
        "item": [
            "stone",
        ],
        "map": [
            "testing",
        ],
        "npc": [
            "sheep",
        ],
        "player": [],
        "processe": [],
        "processor": [],
        "resource_node": [],
        "scenery": [],
        "structure": [],
        "tool": [],
        "weapon": [],
    }
)