(
    assets: {
        "armor": [],
        "attack": [
            "bite",
            "kick",
            "punch",
        ],
        "effect": [],
        "item": [
            "stone",
        ],
        "npc": [
            "sheep",
        ],
        "planet": [
            "testing",
        ],
        "player": [
            "default",
        ],
        "process": [],
        "processor": [],
        "resource_node": [],
        "scenery": [],
        "structure": [],
        "tool": [],
        "weapon": [],
    }
)