Map(
    // meta
    name: "Testing",
    description: "Testing",
    tags: [],
    categories: [],

    domains: [
        "flat",
    ],

    dawn_duration_secs: 60,
    day_duration_secs: 3600,
    dusk_duration_secs: 60,
    night_duration_secs: 3600,

    hour_duration_secs: 60, // default 1 min

    default_config: MapConfig (
        npc_ownership_decay_rate: Some(1),
        structures_decay_rate: Some(1),
        dropped_item_decay_rate: 1,
        item_spoil_rate: 1,
    )
)